form {
    max-width: 32em;
    margin: 1% auto;
    background: #fff;
    text-align: left;
    padding: 1.25em;
    outline: 0.2em solid #488084;
  }
  label {
    color: #488084;
    display: inline-block;
    margin: 1.5em 0em 0.9375em;
    text-transform: uppercase;
  }
  input {
    display: block;
    padding: 0.625em 0.375em;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 0.07em solid #ddd;
    color: #555;
  }
  button {
    background: #488084;
    border: 0;
    padding: 0.625em 1.25em;
    color: white;
    border-radius: 1.25em;
  }
  .submit {
    margin-top: 1.5em;
    text-align: center;
  }
  .post {
    width: 33%;
    margin: auto;
  }
  .like {
    background: none;
    width: 15px;
    height: 15px;
    margin-bottom: 2%;
    display:flex;
    max-width: 100%;
  }
  .like-button {
    background: none;
    width: 20px;
    height: 20px;
    float: left;
  }
  .numLikes {
    float:left;
    padding-left: 2px;
    font-size: medium;
    font-weight: bold;
  }
  .float{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#488084;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    box-shadow: 2px 2px 3px #999;
  }