Using Vue.js 2.7.10 and Python 3.10.7

In terminal, navigate to the frontend folder and run the following
    npm i -g @vue/cli
    npm i --save-dev eslint eslint-plugin-vue
    npm i axios

To run the frontend
    npm run serve 
To fix lint errors
    npm run lint

In another terminal, navigate to the backend folder and run the following
python3 -m pip install flask
python3 -m pip install flask-cors

To run the backend
    python3 -m flask run


It is ideal to run the backend and then open a new terminal and run the front end second


